#div1 {

    width: 300px;
    border: 25px yellowgreen;
    padding: 25px;
    margin: 25px;
    background-color: darkviolet;
    margin-left: 2cm;
}
#div2 {
    width: 300px;
    border: 25px yellowgreen;
    padding: 25px;
    margin: 25px;
    background-color: red;
    margin-left: 4cm;
}
#div3 {
        width: 300px;
    border: 25px yellowgreen;
    padding: 25px;
    margin: 25px;
    background-color: orange;
    margin-left: 6cm;
}
#div4 {
    width: 300px;
    border: 25px yellowgreen;
    padding: 25px;
    margin: 25px;
    background-color: antiquewhite;
    margin-left: 8cm;
}
#div5 {
    width: 300px;
    border: 25px yellowgreen;
    padding: 25px;
    margin: 25px;
    background-color: black;
    margin-left: 10cm;
}
#div6 {
    width: 300px;
    border: 25px yellowgreen;
    padding: 25px;
    margin: 25px;
    background-color: sandybrown;
}

