.h1-jumbo {
	font-family: "verdana";
	color: red;

}

.light {
	box-sizing: border-box;
	background-color: whitesmoke;
	opacity: 0.5;
	float: left;
	width: 100%;
	text-align: center;
}

.jumbotron {
	background-image: url("http://java.codeup.com/content/examples/bootstrap/pizza.png");
	background: cover;
	height: 200px;
}

.menu-header {
	font-family: cursive;
	font-size: 30pt;
	font-weight: bold;
	color: black;
}

.heading-wrapper {
	margin-left: 30px;
	margin-top: 30px;
	font-family: AppleGothic;
	font-size: 20pt;
	font-weight: bold;
}

.menu-items {
	font-family: cursive;
	font-size: 15pt;
	margin-left: 50px;
}

.round-number {
	border-radius:10px;
	height: 20px;
	width: 20px;
}

.numberCircle {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	padding: 8px;
	background: #blue;
	border: 2px solid black;
	color: black;
	text-align: center;
	font: 32px Arial, sans-serif;
	display: inline-block;
}

.small-header {
	font-family: Verdana;
	font-size: 15pt;
	margin-left: 15px;
	margin-bottom: 25px;
}

#panel-back {
	background-color:
}